 
 *{
    box-sizing: border-box;
    margin: 0;
 }
 body{
     max-width: 100vw;
 }
header {
    margin-top: 0;
    height: 100px;
    padding-top: 30px;
    background-color: lightskyblue;
  p {
    span{
        display: inline-block;
        width: 100vw;
        font-size: xx-large;
    }

      text-align: center;
      font-size: x-large;

     
  }
}


#names {
    width: 100vw;
    margin: auto;
    text-align: center;
    margin-top: 20px;
   
  input {
    border: 1px solid black;
    width: 41.66vw;
    margin: auto;
    margin-top: 10px;
    font-size: x-large;
  }
  input:focus{
      background-color: lightyellow;
  }

  .error{
      display: none;
      color: red;
  }

  #errMsg{
    display: none;
    color: red;
    margin-top: 20px; 
  }
  button{
      outline: none;
      width: 50vw;
      margin: auto;
      margin-top: 20px;
      font-size: x-large;
  }

  button:hover{
      background-color: mediumseagreen;
      color: white;
  }
}

#main {
  display: none;

  #points{
      width: 50vw;
      margin: auto;
      font-size: x-large;
  }
  #player1{
font-size: x-large;
  }

  #player2{
font-size: x-large;
  }

  .active{
      background-color: rgba(154, 205, 50,1);
      color: white;
  }
  .loser{
      background-color: red;
      color: white;
  }

  #img{
      height: 100px;
      width: 100px;
      margin: auto;
      margin-top: 10px;
  }
  img{
    height: 100px;
    width: 100px;
  }
  #buttonsHolder{
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
  }
  .button{
      outline: none;
    font-size: xx-large;

  }
  .button:hover{
      background-color: lawngreen;
      color: white;
  }
#hold{
    display: none;
}
  #replay{
      display: none;
  }

  #result{
    //   display: none;
      width: 100vw;
      margin-top: 10px;
      text-align: center;
      font-size: x-large;
  }
}
